body {
    width: 100%;
    height: 100%;
    background-color: rgb(180, 211, 221);
    animation-name: body; 
    animation-duration: 5s; 
    animation-iteration-count: infinate;
}

@keyframes body {
    0% {background-color: lightblue;}
    50% {background-color: rgb(246, 182, 255);}
    100% {background-color: lightblue;}
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.text {
    display: flex;
    justify-content: space-between;
}

h2 {
    color: rgb(32, 223, 32);
    font-size: 5em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    margin-top: 20px;
    text-shadow: 2px 2px 2px darkgreen;
}

h1 {
    color:rgb(0, 174, 255);
    border: 6px solid orange;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 50px;
    font-size: 12em;
    font-family: "freckle face";
    text-shadow: 2px 2px 2px darkblue;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.happy {
    margin-right: 30px;
}

.birthday{
    margin-right: 5px;
}

.name {
     color: orange;
     font-size: 8em;
     font-family: "freckle face";
     text-shadow: 2px 2px 2px rgb(119, 79, 4);
     margin-top: 0px;
     position: relative;
}

.moon {
    max-width: 60px;
    max-height: 60px;
    position: absolute;
    left: 576px;
    top:-218px;
}

.rocket {
    width: 300x;
    height: 400px;
    position: absolute;
    animation-name: rocket;
    animation-duration: 5s;
    animation-iteration-count: infinate;
    transition: width 5s, height 5s, transform 5s;
}

@keyframes rocket {
    0% {right: 1000px; top: 800px; transform: scale(1);}
    100% {right: 40px; top: -218px; transform: scale(0.08);}
}

.clouds {
    width: 100%;
    height: 20%;
    margin-bottom: 300px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    animation-name: clouds;
    animation-duration: 5s;
    animation-iteration-count: infinate;
}

@keyframes clouds {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

.cloud__left {
    width: 400px;
    height: 300px;
}

.cloud__middle {
    width: 450px;   
    height: 350px;
    transform: scale(1.2);
    z-index: 1;
}

.cloud__right {
    width: 270px;
    height: 200px;
    transform: scale(1.2);
}